body {
  box-sizing: border-box;
  margin: 0px; }

.main-nav {
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: bold; }
  .main-nav a {
    margin: 20px 20px; }

.jumbotron {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .jumbotron h1 {
    margin: 0px;
    font-size: 80px; }
  .jumbotron p {
    margin: 0px; }
  .jumbotron .social-media-icons {
    margin-top: 50px; }

.content-container {
  max-width: 1000px;
  margin: auto; }

.page-section {
  padding: 0px 30px;
  max-width: 700px;
  margin: auto; }
  .page-section h1 {
    text-align: center;
    font-size: 50px; }
  .page-section h2 {
    font-size: 32px; }
  .page-section p {
    font-size: 18px;
    line-height: 32px; }

.project-panels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .project-panels .project-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 35px 7px 15px;
    margin: 10px 3px 30px;
    background-color: dimgrey;
    /*border: 1px dashed white;*/
    border-radius: 2px; }
    .project-panels .project-panel p {
      margin: 0px; }
    .project-panels .project-panel .project-name {
      display: inline-block;
      align-self: center;
      text-align: center;
      position: absolute;
      top: -10px;
      margin: 0px;
      padding: 2px 10px;
      max-width: 80%;
      background-color: black;
      /*border: 1px solid white;*/
      border-radius: 3px; }

body {
  background-color: #16161c;
  font-family: "Segoe UI", sans-serif;
  color: #cfd5d6; }

a {
  color: #bcde72;
  text-decoration: none; }

.main-nav {
  background-color: black; }

.jumbotron {
  color: white;
  background-color: black; }

.project-panels a {
  color: #cfd5d6; }
