body {
  box-sizing: border-box;
  margin: 0px; }

.jumbotron {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .jumbotron h1 {
    margin: 0px;
    font-size: 80px; }
  .jumbotron p {
    margin: 0px; }
  .jumbotron .social-media-icons {
    margin-top: 50px; }

body {
  background-color: #16161c;
  font-family: "Segoe UI", sans-serif;
  color: white; }

a {
  color: #bcde72;
  text-decoration: none; }

.jumbotron {
  background-color: black; }
