@model List<PortfolioSite.Models.Identity.ApplicationUser>

@{
  ViewBag.PageTitle = "Account Management";
  Layout = "_Layout";
}

<div id="account-section" class="content-section">
  <h1>Account Management</h1>
  <div id="login-widgit">
    <a id="login-button" class="btn">Login</a>
    <a id="register-button" class="btn">Register</a>
  </div>
  <h1>Admin Accounts</h1>
  @if(Model != null && Model.Count > 0)
  {
    @foreach(var user in Model)
    {
      <p>
        @user.UserName | 
        @using (Html.BeginForm("Remove", "Account"))
        {
          @Html.Hidden("userId", user.Id)
          <input type="submit" class="btn" value="Delete" />
        }
      </p>
    }
  }
  else
  {
    <p>No admin accounts exist.</p>
  }
</div>

<script>
  $(document).ready(function() {
    $("#login-button").click(function() {
      $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("LoginForm")',
        success: function(result) {
          $('#login-widgit').html(result);
        }
      });
    })
    $("#register-button").click(function() {
      $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("RegisterForm")',
        success: function(result) {
          $('#login-widgit').html(result);
        }
      });
    })
  });
</script>