<h1>About</h1>
<!-- TODO: Update this content to be better/up-to-date-->
<h2>Who I Am...</h2>
<p>
  I’ve always had a passion for problem solving. From a young age, I was drawn into the world of mathematics and science for their ability to take information we know and transform it in a way that teaches us something new. The appeal of that discovery process fueled me, pressed me to always be curious and questioning. When I got my first programmable TI-84 calculator around high school, I got my first taste of what programming actually was. The ability to build something useful out of pure logic–that was something cool. For me, programming is the perfect career.
</p>

<h2>What I Do...</h2>
<p>
  Currently I’m studying at Epicodus, a Portland-based code school focused on intensive curriculum and peer-based learning. At Epicodus I’ve been learning and applying many essential technologies and frameworks on my journey towards becoming a full-stack developer. I hope to continue growing and take my current skills to the nth level, and really push myself as a problem solver. After that, the sky is the limit.
</p>