@*@using PortfolioSite.Models
@model Repo*@

<h1>Projects</h1>
<p>Here are some of my most poular GitHub repos:</p>

<div class="project-panels">
  <a href="#">
    <div class="project-panel">
      <p class="project-name">SAMPLE NAME</p>
      <p class="project-language">Javascript</p>
      <div class="project-stars">Stars</div>
      <p class="project-last-update"></p>
      <p class="project-link">Click for more info</p>
    </div>
  </a>
</div>