@using PortfolioSite.Models
@model List<Repo>

@{
  Layout = "_Layout";
}

<div id="about-section" class="page-section">
  @Html.Partial("_About")
</div>

<div id="projects-section" class="page-section">
  @Html.Partial("_Projects", Model)
</div>

<div id="contact-section" class="page-section">
  @Html.Partial("_Contact")
</div>
