@{
    Layout = "_Layout";
}

<div id="about-section" class="content-section">
  @Html.Partial("_About")
</div>

<div id="projects-section" class="content-section">
  @Html.Partial("_Projects")
</div>

<div id="contact-section" class="content-section">
  @Html.Partial("_Contact")
</div>
