<div class="admin-bar">
  @if (User.Identity.IsAuthenticated)
  {
    <p>Logged in as @User.Identity.Name</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn" value="Log out" />
    }
  }
</div>