<nav class="main-nav">
  <a href=@Url.Action("Index", "Home")>Home</a>
  <a>About</a>
  <a>Projects</a>
  <a>Contact</a>
  <a href=@Url.Action("Index", "Post")>Blog</a>
</nav>

<!-- TODO: Put missing links -->
<div class="jumbotron">
  <h1 class="site-title">Rane Fields</h1>
  <p class="site-tagline">Just a guy with a passion for code</p>
  <div class="social-media-icons">
    <a class="social-media-icon">[X]</a>
    <a class="social-media-icon">[X]</a>
    <a class="social-media-icon">[X]</a>
  </div>
</div>