// TODO: Refactor so that each section has its own solid-color background to break things up

body {
  box-sizing: border-box;
  margin: 0px;
}

.main-nav {
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  a {
    margin: 20px 20px;
  }
}

.jumbotron {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    margin: 0px;
    font-size: 80px;
  }

  p {
    margin: 0px;
  }

  .social-media-icons {
    margin-top: 50px;
  }
}

.content-container {
  max-width: 1000px;
  margin: auto;
}

.page-section {
  padding: 0px 30px;
  max-width: 700px;
  margin: auto;
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

// TODO: Move specific styling to styles
.project-panels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .project-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 35px 15px 20px;
    margin: 20px 6px 20px;
    background-color: dimgrey;
    border-radius: 2px;

    p{
      margin: 0px;
      font-size: 15px;
    }

    .project-name {
      align-self: center;
      text-align: center;
      position: absolute;
      top: -19px;
      margin: 0px;
      padding: 8px 10px;
      max-width: 85%;
      font-size: 22px;
      background-color: black;
      border-radius: 3px;
    }

    .project-link {
      font-weight: bold;
      margin-top: 20px;
      align-self: center;
    }
  }
}