// TODO: Refactor so that each section has its own solid-color background

body {
  box-sizing: border-box;
  margin: 0px;
}

.main-nav {
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  a {
    margin: 20px 20px;
  }
}

.jumbotron {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    margin: 0px;
    font-size: 80px;
  }

  p {
    margin: 0px;
  }

  .social-media-icons {
    margin-top: 50px;
  }
}

.content-container {
  max-width: 1000px;
  margin: auto;
}

.page-section {
  padding: 0px 30px;
  h1 {
    text-align: center;
    font-size: 50px;
  }
  .section-content {
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

#about-section-content {
  max-width: 700px;
  margin: auto;
}