@import "_fonts.scss";
@import "_style-vars.scss";

body {
  background-color: $bg-color;
  font-family: "Segoe UI", sans-serif;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.main-nav {
  background-color: $main-nav-color;
}

// TODO: jumbotron image
.jumbotron {
  color: $title-font-color;
  background-color: $main-nav-color;
}